* {
  font-family: 'PT Sans Caption',"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.hero {
  display: flex;
  height: 100vh;
}

.hero-cliff {
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
  color: white;
  background-image: url(https://images.unsplash.com/photo-1500417148159-68083bd7333a);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 5vh;
  font-weight: bold;
}

.hero-title {
  font-size: 9vh;
  font-weight: bold;
}

.hero-footer {
  display: flex;
  margin-bottom: 1em;
}

.button {
  padding: .5em .67em;
  color: white;
  border: .1em solid white;
  transition-duration: 0.2s;
}

.button:hover {
  background-color: black;
  color: white;
  transition-duration: 0.2s;
}

.button-primary {
  color: black;
  background-color: white;
}

.snippy-hero {
  position: relative;
}

.snippy-hero-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 7.5rem 1rem 7.5rem 6rem;
}

.snippy-header {
  font-size: 3.75rem;
  font-weight: bold;
  line-height: 1;
}

.snippy-header-top {
  position: relative;
  display: inline-block;
}

.snippy-header-top::before {
  position: absolute;
  content: "";
  height: 35%;
  width: 100%;
  background-color: rgb(248,110,106);
  bottom: 0;
  z-index: -1;
}

.snippy-paragraph {
  color: rgb(116,127,148);
  margin-top: 3rem;
}

.snippy-button-box {
  margin-top: 3rem;
  display: flex;
}

.snippy-button {
  font-size: 18px;
  padding: .6rem 1.25rem;
  border-radius: 25px;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snippy-button-primary {
  background-color: rgb(248,110,106);
  color: white;
}

.snippy-button-secondary {
  background-color: rgb(238,242,247);
}

.snippy-button-icon {
  color: rgb(205,213,223);
  margin-right: .5rem;
}

.snippy-hero-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15vh 5rem 0 .5rem;
  position: relative;
}

.snippy-svg {
  position: absolute;
  width: 80%;
  top: -10vw;
  z-index: -1;
}

.snippy-image {
  background-image: url(https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 95%;
  height: 40vh;
  border-radius: 15px;
  position: absolute;
  top: 10px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.snippy-image-icon {
  color: white;
  font-size: 3rem;
}

@media screen and (max-width: 992px) {
  .snippy-header {
    font-size: 2.25rem;
  }

  .snippy-hero {
    flex-direction: column;
  }

  .snippy-hero-left, .snippy-hero-right {
    width: 100%;
    padding: 2rem;
  }

  .snippy-hero-right {
    padding: 0rem 0rem 4rem 2rem;
  }

  .snippy-header, .snippy-paragraph, .snippy-button-box {
    margin-top: 1.5rem;
  }

  .snippy-svg {
    width: 70%;
    top: -18vw;
  }
}

@media screen and (max-width: 500px) {
  .snippy-button-box {
    flex-direction: column;
  }

  .snippy-button-primary {
    margin-bottom: 1rem;
  }
}